.cv-form {
  background-color: #d5b942;
  width: 40%;
  color: #fff;
  padding-left: 3rem;
  padding-bottom: 3rem;
  height: 94vh;
  overflow-y: scroll;
}

label {
  display: block;
}

input,
textarea {
  width: 80%;
  background-color: #e3de8f;
  border: 1px solid #fff;
  padding: 5px 12px;
}

input:focus,
textarea:focus {
  background-color: #fff;
}

input {
  height: 1.5rem;
}

textarea {
  height: 10rem;
}

button {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 120px;
  font-size: 1rem;
  padding: 0.5rem 0;
  border-radius: 5%;
  border: #000;
  background-color: #bfcbc2;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
}
